<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nights-todolist-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6910c0e8-51a7-45e9-9818-4635d5d534e4/resourceGroups/Demoes/providers/Microsoft.Web/sites/nights-Todolist-api</ResourceId>
    <UserName>$nights-Todolist-api</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://nights-todolist-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>